body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logopart {
  color: #2e2f42;
}

.studio {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.studio:hover,
.studio:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}
.mailtoo {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.mailtoo:hover,
.mailtoo:focus {
  color: #404bbf;
}

.order-service {
  background-color: #2e2f42;
}
.maine-text {
  font-size: 56px;
  color: #ffffff;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  letter-spacing: 0.02em;
}

.button-order-service {
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button-order-service:hover,
.button-order-service:focus {
  background-color: #404bbf;
}

.propeties {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.list {
  font-weight: 500;
}

.features {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.featurees-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.our-team {
  background-color: #f4f4fd;
}
.our-team-head {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.our-team-item {
  background-color: #ffffff;
}

.our-team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.our-team-ford {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-team-dev {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-logo-part {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
